# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.env

# Node
node_modules/
build/
.DS_Store

# IDEs
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Ignore React .env
frontend/.env

# Ignore Django .env
backend/.env
