/* frontend/src/components/BuyNowModal.module.css */

.modalBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #ffffff;
    border: 2px solid #000;
    box-shadow: 24px;
    padding: 20px;
    border-radius: 8px;
}

.buttonGroup {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.buttonGroup>button {
    margin-left: 10px;
}